<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>457075610951-301qn4rq6ksmrief6ci2c822u83fva83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457075610951-301qn4rq6ksmrief6ci2c822u83fva83</string>
	<key>API_KEY</key>
	<string>AIzaSyC4jKu1Kv9z3CkGR9uhhUkMVa6KxNhLD8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>457075610951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hawaii.staging</string>
	<key>PROJECT_ID</key>
	<string>hawaii-ca781</string>
	<key>STORAGE_BUCKET</key>
	<string>hawaii-ca781.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457075610951:ios:af1b6226bc246458</string>
	<key>DATABASE_URL</key>
	<string>https://hawaii-ca781.firebaseio.com</string>
</dict>
</plist>