<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>792699227286-121ip8a5o02mn0i5s8njdio0lpvr3f7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792699227286-121ip8a5o02mn0i5s8njdio0lpvr3f7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBKRJgKkk0lr3wtnVhrPRXlsJ-7T5GtoCs</string>
	<key>GCM_SENDER_ID</key>
	<string>792699227286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.execom.Hawaii</string>
	<key>PROJECT_ID</key>
	<string>hawaii-85e29</string>
	<key>STORAGE_BUCKET</key>
	<string>hawaii-85e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792699227286:ios:a4287ca63fcd484b</string>
	<key>DATABASE_URL</key>
	<string>https://hawaii-85e29.firebaseio.com</string>
</dict>
</plist>